.background{
    border: 1px solid black;
    width:500px ;
}


.head{
    color:orangered;
    padding: 0 20px;
}

img{
    display: block;
}

.body{
    padding: 0 20px;
    opacity: 0.7;
}

h3{
    color: rgb(136, 255, 136);
}