.border{
    border: 1px solid black;
    height: 650px;
    width: 350px;
    padding-left: 10px;
}

.header{
    color:rgb(15 118 110);
}
h1{
    color:rgb(15 118 110);
}
.main p{
    color: rgb(19 78 74);
    font-weight: bold;
}
.main input,.main select, main option{
    width: 320px;
}
.main textarea{
    width: 320px;
    height: 100px;
}

main{
    border-radius: 10px;
    border: 1px solid rgb(148 163 184);

}
button{
    background-color: rgb(14 165 164);
    color:white;
    border-radius: 10px;
    width: 340px;
    height: 50px;
}
button:hover{
    transform: scale(1.05);
    background-color: rgb(15 118 110);
}