.border {
    border: 1px solid black;
    height: 650px;
    width: 350px;
    padding: 0 10px; 
    margin: 20px auto;
    font-family: sans-serif;
    box-sizing: border-box; 
}

.header h1 { 
    color: rgb(15, 118, 110);
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.main {
    border-radius: 10px;
    border: 1px solid rgb(148, 163, 184);
    margin-top: 20px;
    padding: 15px 10px;
}

.main .title {
    color: rgb(19, 78, 74);
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
}

.main .description {
    color: #64748b; 
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 15px;
}

button {
    background-color: rgb(14, 165, 164);
    color: white;
    border-radius: 10px;
    width: 100%; 
    height: 50px;
    margin-top: 30px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background-color: rgb(15, 118, 110);
}

.item {
    width: 100%; 
}